<a href="https://colab.research.google.com/github/ivanachen1/LinearRegression/blob/main/Linear_Reggresion_AutoIndustries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
list_dataframes = []

for i in range(52,63,1):
  if i in [50,51,54]:
    continue
  elif i == 63:
    break
  else:
    if i in [52,53,55,56,57]:
      data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Machine Learning/VENTA_DIARIA_6{}.csv".format(i),sep=",")
    else:
      data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Machine Learning/VENTA_DIARIA_6{}.csv".format(i),sep=";") 
    
    list_dataframes.append(data)
  
dataframe = pd.concat(list_dataframes)

In [3]:
dataframe

       operating_unit_id  product_id     fecha  mes    anio  cantidad   tipo
0                    4.0      3748.0  01/09/19  9.0  2019.0       3.0  Venta
1                    4.0      3752.0  01/09/19  9.0  2019.0       1.0  Venta
2                    4.0      3775.0  01/09/19  9.0  2019.0       1.0  Venta
3                    4.0      3777.0  01/09/19  9.0  2019.0       1.0  Venta
4                    4.0      3781.0  01/09/19  9.0  2019.0       1.0  Venta
...                  ...         ...       ...  ...     ...       ...    ...
73640               94.0     12599.0  01/02/20  2.0  2020.0       1.0  Venta
73641               94.0     12619.0  01/02/20  2.0  2020.0       1.0  Venta
73642               94.0     12730.0  01/02/20  2.0  2020.0       4.0  Venta
73643               94.0     12763.0  01/02/20  2.0  2020.0       1.0  Venta
73644               94.0     12957.0  01/02/20  2.0  2020.0       4.0  Venta

[842597 rows x 7 columns]

In [4]:
dataframe = dataframe.dropna(axis= 0)

In [5]:
dataframe["cantidad"] = dataframe["cantidad"].astype(int)
dataframe["mes"] = dataframe["mes"].astype(int)
dataframe["anio"] = dataframe["anio"].astype(int)
dataframe["operating_unit_id"] = dataframe["operating_unit_id"].astype(int)
dataframe["product_id"] = dataframe["product_id"].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [6]:
lista_anios = dataframe["anio"].unique()

In [7]:
#Analizo las ventas de cada articulo los ultimos 3 aÃ±os
pivot_table = dataframe.pivot_table(dataframe,index= "product_id",columns="anio",aggfunc= {"cantidad":"sum"},fill_value=0)

In [8]:
pivot_table.columns = pivot_table.columns.droplevel(0)
pivot_table.columns.name = None              
pivot_table = pivot_table.reset_index().rename_axis(None,axis = 1) 
pivot_table

      product_id  2018  2019  2020
0           3743     5    34    24
1           3744     1     3     2
2           3747     4    18    14
3           3748  1010  4777  3070
4           3749   264  1045   642
...          ...   ...   ...   ...
5769       13016     0     7     1
5770       13018     0     2     0
5771       13020     0     1     1
5772       13021     0     3     0
5773       13022     0     1     0

[5774 rows x 4 columns]

In [9]:
today = datetime.today()
today = (today.year) - 1

In [10]:
data_filtrada = pivot_table[pivot_table[today] == 0]
data_filtrada = pivot_table[pivot_table[today-1] == 0]
data_filtrada

      product_id  2018  2019  2020
24          3778     1     0     0
59          3833     2     0     0
87          3873     2     0     0
434         5141     1     0     0
454         5171     4     0     0
...          ...   ...   ...   ...
5374       12521     4     0     0
5468       12638     8     0     0
5479       12650     1     0     0
5578       12772     1     0     0
5602       12801     1     0     0

[160 rows x 4 columns]

In [11]:
articulos_sin_ventas = data_filtrada["product_id"].unique()
articulos_sin_ventas

array([ 3778,  3833,  3873,  5141,  5171,  5301,  5302,  5355,  5415,
        5432,  5450,  5479,  5491,  5495,  5578,  5813,  5874,  6151,
        6168,  6170,  6294,  6330,  6350,  6610,  6634,  6637,  6645,
        6657,  6663,  6723,  6835,  6853,  6883,  6933,  7006,  7009,
        7043,  7130,  7346,  7381,  7473,  7494,  7566,  7590,  7686,
        7687,  7747,  7828,  7837,  7960,  7973,  7984,  8115,  8116,
        8125,  8214,  8290,  8436,  8518,  8528,  8545,  8642,  8649,
        8655,  8656,  8658,  8696,  8749,  8769,  8783,  8803,  8812,
        8815,  8876,  8940,  9016,  9057,  9120,  9132,  9134,  9143,
        9181,  9195,  9197,  9218,  9409,  9421,  9482,  9559,  9650,
        9730,  9751,  9976, 10080, 10237, 10412, 10415, 10447, 10489,
       10531, 10544, 10678, 10753, 10787, 10825, 10852, 10861, 10908,
       10945, 10967, 10978, 10979, 11070, 11136, 11205, 11208, 11276,
       11382, 11395, 11434, 11477, 11702, 11742, 11773, 11777, 11791,
       11868, 11871, 11872, 11894, 11945, 11952, 11993, 12022, 12043,
       12051, 12075, 12083, 12113, 12184, 12207, 12250, 12313, 12334,
       12364, 12368, 12382, 12393, 12410, 12459, 12461, 12475, 12477,
       12484, 12519, 12521, 12638, 12650, 12772, 12801])

Quito del Dataframe los articulos que no se vendieron en los ultimos 2 aÃ±os

In [12]:
#filtro el dataset
dataframe = dataframe[~ dataframe["product_id"].isin(articulos_sin_ventas)]
dataframe

       operating_unit_id  product_id     fecha  mes  anio  cantidad   tipo
0                      4        3748  01/09/19    9  2019         3  Venta
1                      4        3752  01/09/19    9  2019         1  Venta
2                      4        3775  01/09/19    9  2019         1  Venta
3                      4        3777  01/09/19    9  2019         1  Venta
4                      4        3781  01/09/19    9  2019         1  Venta
...                  ...         ...       ...  ...   ...       ...    ...
73640                 94       12599  01/02/20    2  2020         1  Venta
73641                 94       12619  01/02/20    2  2020         1  Venta
73642                 94       12730  01/02/20    2  2020         4  Venta
73643                 94       12763  01/02/20    2  2020         1  Venta
73644                 94       12957  01/02/20    2  2020         4  Venta

[841067 rows x 7 columns]

In [13]:
pivot_table = dataframe.pivot_table(dataframe,index= "product_id",columns = "anio",aggfunc= {"cantidad":"sum"},fill_value=0)
pivot_table.columns = pivot_table.columns.droplevel(0)
pivot_table.columns.name = None              
pivot_table = pivot_table.reset_index().rename_axis(None,axis = 1) 
pivot_table

      product_id  2018  2019  2020
0           3743     5    34    24
1           3744     1     3     2
2           3747     4    18    14
3           3748  1010  4777  3070
4           3749   264  1045   642
...          ...   ...   ...   ...
5609       13016     0     7     1
5610       13018     0     2     0
5611       13020     0     1     1
5612       13021     0     3     0
5613       13022     0     1     0

[5614 rows x 4 columns]

In [14]:
n = len(pivot_table["product_id"].unique())
lista_articulos_vendidos = []

for i in [10,20,30,40,50,60,70,80,90,100,110,200,250,500,1000,2000,3000,5000,6000,9000,4000000]:
  data = pivot_table[pivot_table[2020] > i]
  articulos = len(data["product_id"].unique())
  list_articulos = data["product_id"].unique()
  lista_articulos_vendidos.append((i,list_articulos))
  print("Los articulos que poseen mas de {} ventas son {}, representando el {}% de articulos con ventas en los ultimos aÃ±os".format(i,articulos,round(articulos / n * 100,2)))

Los articulos que poseen mas de 10 ventas son 2933, representando el 52.24% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 20 ventas son 2244, representando el 39.97% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 30 ventas son 1863, representando el 33.18% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 40 ventas son 1587, representando el 28.27% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 50 ventas son 1380, representando el 24.58% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 60 ventas son 1227, representando el 21.86% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 70 ventas son 1086, representando el 19.34% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 80 ventas son 970, representando el 17.28% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 90 ventas son 871, representando el 15.51% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 100 ventas son 786, representando el 14.0% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 110 ventas son 727, representando el 12.95% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 200 ventas son 417, representando el 7.43% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 250 ventas son 337, representando el 6.0% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 500 ventas son 173, representando el 3.08% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 1000 ventas son 72, representando el 1.28% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 2000 ventas son 34, representando el 0.61% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 3000 ventas son 14, representando el 0.25% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 5000 ventas son 6, representando el 0.11% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 6000 ventas son 3, representando el 0.05% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 9000 ventas son 2, representando el 0.04% de articulos con ventas en los ultimos aÃ±os
Los articulos que poseen mas de 4000000 ventas son 0, representando el 0.0% de articulos con ventas en los ultimos aÃ±os

In [15]:
pivot_table = dataframe.pivot_table(dataframe,index= "product_id",columns = "anio",aggfunc= {"cantidad":"sum"},fill_value=0)
pivot_table.columns = pivot_table.columns.droplevel(0)
pivot_table.columns.name = None              
pivot_table = pivot_table.reset_index().rename_axis(None,axis = 1) 
pivot_table

      product_id  2018  2019  2020
0           3743     5    34    24
1           3744     1     3     2
2           3747     4    18    14
3           3748  1010  4777  3070
4           3749   264  1045   642
...          ...   ...   ...   ...
5609       13016     0     7     1
5610       13018     0     2     0
5611       13020     0     1     1
5612       13021     0     3     0
5613       13022     0     1     0

[5614 rows x 4 columns]

Conclusiones del analisis

1) 655 Articulos no tuvieron ventas los ultimos 2 aÃ±os

2) 3891 articulos no se vendieron en los ultimos 6 meses

3) 1228 articulos tuvieron ventas en los ultimos aÃ±os  y en los ultimos 6 meses

4) De estos 1228 articulos, 1056 vendieron 10 articulos en el aÃ±o representando el 85,75%. 

5) En el histograma esta la participacion de la cantidad de articulos vendidos los ultimos aÃ±os y meses sobre el total

nota = tomar las semanas,

In [16]:
# transformar la columna fecha en datetime

dataframe["Fecha_format_datetime"] = pd.to_datetime(dataframe['fecha'])
dataframe.drop(["fecha","mes","anio","tipo"],axis = 1, inplace= True)
dataframe = dataframe[dataframe["cantidad"] > 0]

In [17]:
dataframe.sort_values(by = "Fecha_format_datetime",inplace = True)
#df['year'] = pd.DatetimeIndex(df['ArrivalDate']).year
dataframe["day"] = pd.DatetimeIndex(dataframe["Fecha_format_datetime"]).day
dataframe["month"] = pd.DatetimeIndex(dataframe["Fecha_format_datetime"]).month
dataframe["year"] = pd.DatetimeIndex(dataframe["Fecha_format_datetime"]).year
dataframe["week"] = pd.DatetimeIndex(dataframe["Fecha_format_datetime"]).week
dataframe["week2"] = pd.DatetimeIndex(dataframe["Fecha_format_datetime"]).strftime('%U_%Y')
dataframe["Quarter"] = pd.DatetimeIndex(dataframe["Fecha_format_datetime"]).quarter
dataframe = dataframe.assign(week2= dataframe['Fecha_format_datetime'].dt.strftime('%Y_%U')).sort_values('week2')
dataframe["Semester"] = np.where((dataframe["Quarter"] == 1) | (dataframe["Quarter"] == 2),1,2)
dataframe.sort_values(by = "week2",inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
dataframe

        operating_unit_id  product_id  cantidad  ...    week2  Quarter  Semester
48078                  93       13000         4  ...  2018_01        1         1
40087                  94        9401         1  ...  2018_01        1         1
47052                  91        9835         4  ...  2018_01        1         1
47053                  91        9864         1  ...  2018_01        1         1
47054                  91        9895         2  ...  2018_01        1         1
...                   ...         ...       ...  ...      ...      ...       ...
72871                  90       10134         1  ...  2020_49        4         2
105438                 89        8142         1  ...  2020_49        4         2
72864                  90        8920         2  ...  2020_49        4         2
72824                  90        5467         2  ...  2020_49        4         2
72841                  90        7214         3  ...  2020_49        4         2

[840764 rows x 11 columns]

In [19]:
field = []
for row in dataframe.itertuples():
  year = row[7]
  if year == min(lista_anios):
    week = row[8]
    field.append(week)
  else:
    diference = year - min(lista_anios)
    calculo = (row[8] + 52) * diference
    field.append(calculo)


field = np.array(field)
dataframe["acumulative_week"] = field

In [20]:
dataframe

        operating_unit_id  product_id  ...  Semester acumulative_week
48078                  93       13000  ...         1                2
40087                  94        9401  ...         1                2
47052                  91        9835  ...         1                2
47053                  91        9864  ...         1                2
47054                  91        9895  ...         1                2
...                   ...         ...  ...       ...              ...
72871                  90       10134  ...         2              204
105438                 89        8142  ...         2              204
72864                  90        8920  ...         2              204
72824                  90        5467  ...         2              204
72841                  90        7214  ...         2              204

[840764 rows x 12 columns]

In [21]:
# filtro semestral dataframe
#voy a obtener la lista de articulos que quiero excluir por que no se vendieron en el ultimo semestre
data = dataframe
data = data.pivot_table(data,index=["product_id","Semester"],columns=["year"],aggfunc= {"cantidad":"sum"},fill_value=0)
data.columns = data.columns.droplevel(0) 
data.columns.name = None             
data = data.reset_index().rename_axis(None,axis = 1)
data

       product_id  Semester  2018  2019  2020
0            3743         1     2    23    21
1            3743         2     3    11     3
2            3744         1     0     2     2
3            3744         2     1     1     0
4            3747         1     0     9     9
...           ...       ...   ...   ...   ...
10256       13016         2     0     7     1
10257       13018         2     0     2     0
10258       13020         2     0     1     1
10259       13021         2     0     3     0
10260       13022         2     0     1     0

[10261 rows x 5 columns]

In [22]:
data_con_ventas_ultimo_semestre = data[data["Semester"] == 2]
data_con_ventas_ultimo_semestre = data_con_ventas_ultimo_semestre[data_con_ventas_ultimo_semestre[2020] > 20]
data_con_ventas_ultimo_semestre

       product_id  Semester  2018  2019  2020
7            3748         2   881  2480   974
9            3749         2   216   556   223
11           3750         2    81   184    59
13           3751         2    57    93    29
15           3752         2    63   112    40
...           ...       ...   ...   ...   ...
10215       12984         2     0    24    24
10219       12986         2    46    94    39
10234       12996         2    39   113    52
10236       12997         2    10    30    21
10238       12998         2     0    57    55

[1254 rows x 5 columns]

In [23]:
productos_vendidos = data_con_ventas_ultimo_semestre["product_id"].unique()
len(productos_vendidos)

1254

Conclusion

En base a lo analizado, voy a crear modelos con los articulos que tuvieron mas de 20 ventas, desestimando a los anteriores

In [24]:
#dataframe = dataframe.pivot_table(dataframe,index=["week2","product_id"],aggfunc= {"cantidad":"sum"},fill_value=0)
#dataframe.columns.name = None              
#dataframe = dataframe.reset_index().rename_axis(None,axis = 1) 


# tengo que meter las 52 semanas de todos los aÃ±os

lista_numeros_semana = list(dataframe["acumulative_week"].unique())
lista_weeks_ordenadas = []

for i in range(1,len(lista_numeros_semana)+1,1):
  if i in lista_numeros_semana:
    continue
  else:
    lista_numeros_semana.append(i)

In [26]:
# agregar el numero de semana correspondiente al articulo que no la tiene y su cantidad en cero
# el gasto computacional es muy alto y es necesario evaluar que articulos merecen una regresion lineal

lista_articulos = productos_vendidos

dataframe_to_predict = []
i = 0
df2 = dataframe.drop(labels = ["operating_unit_id","Fecha_format_datetime","day","month","year","week","week2","Quarter","Semester"],axis=1)
for articulo in lista_articulos:
  data_temporal = df2[df2["product_id"] == articulo]
  dataframe_to_predict.append(data_temporal)
  for semana in lista_numeros_semana:
    if semana not in list(data_temporal["acumulative_week"]):
      data = pd.DataFrame({"product_id":articulo,"acumulative_week":semana,"cantidad":0},index = [i])
      i = i+1     
    dataframe_to_predict.append(data)

dataframe_to_predict = pd.concat(dataframe_to_predict)

# Me forma mal el append del bucle. tengo que revisar

# me armo un mega superdataframe, tengo que ver que columnas quiero asi lo agrupo,

In [27]:
dataframe_to_predict

       product_id  cantidad  acumulative_week
46894        3748         1                 2
47878        3748         1                 2
41457        3748         4                 2
47304        3748         1                 2
47622        3748         1                 2
...           ...       ...               ...
81277       12998         0               119
81278       12998         0               121
81279       12998         0               123
81280       12998         0               125
81281       12998         0               127

[886406 rows x 3 columns]

In [28]:
dataframe_to_predict.pivot_table(index="product_id",columns= "acumulative_week",aggfunc= {"cantidad":"sum"},fill_value=0)

                 cantidad                          ...
acumulative_week      1   2   3   4   5   6   7    ... 184 186 192 194 196 202 204
product_id                                         ...
3748                   14  20   0   0   0  16   7  ...  71  28  38  59   0  80  23
3749                    6  10   0   0   0   3   3  ...  14   7   3  17   0  21   1
3750                    1   3   0   0   0   3   1  ...   4   1   1   1   0   3   2
3751                    0   3   0   0   0   1   1  ...   0   2   0   3   0   0   1
3752                    1   3   0   0   0   0   0  ...   0   1   0   0   0   0   1
...                   ...  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
12984                   0   0   0   0   0   0   0  ...   4   4   0   4   0   0   0
12986                   0   1   0   0   0   0   1  ...   4   1   0   1   0   4   1
12996                   0   0   0   0   0   0   0  ...   1   0   0   5   0   0   2
12997                   0   1   0   0   0   0   0  ...   0   1   0   1   0   0   1
12998                   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   4

[1254 rows x 162 columns]

Conclusiones

Despues de limpiar mucho los datos, y agruparlos por semana, tengo que comprobar si vale la pena hacer regresiones lineales de los datos ya que tengo muchos articulos que en muchas semanas no tienen ventas. Lo que se podria evaluar es el nivel de ventas por articulo por mes para analizar cuales son posibles candidatos a predecir

Voy a excluir los articulos que no se vendieron en los ultimos 6 meses

ANOTACION:

Hasta este punto tengo toda la data limpia en el dataframe_to_predict. Se saco la conclusion de que muy probablemente no sirva crear una regresion linear articulo, tienda sino que es mejor crear por articulo

In [ ]:
import statsmodels.api as sm
import numpy as np
# voy a trabajar con un solo articulo y luego lo replico a los demas

In [30]:
def predecir(dataframe,lista_articulos):
  """
  Esta funcion itera el dataframe que se le pasa como parametro y te devuelve una tabla con
  los articulos y los R cuadrados
  """
  import statsmodels.api as sm
  import numpy as np
  import pandas as pd
  
  dataframe_prediccion = []

  i = 0
  for articulo in lista_articulos:
    data_prueba = dataframe_to_predict[dataframe_to_predict["product_id"] == articulo]
    Y = np.array(data_prueba["cantidad"])
    X = np.array(data_prueba["acumulative_week"])
    model = sm.OLS(Y,X)
    results = model.fit()
    R2 = results.rsquared
    i = i+1


    data = {"Articulo":articulo,"R square":R2}
    i = i+1     
    dataframe_prediccion.append(data)
    


  dataframe_prediccion = pd.DataFrame(dataframe_prediccion)

  return dataframe_prediccion

In [33]:
data = predecir(dataframe_to_predict,lista_articulos)

La cantidad de articulos con R2 menor a 0.50 es  0
La cantidad de articulos con R2 mayor a 0.50 y menor a 0.70 es  0
La cantidad de articulos con R2 mayor a 0.70 es 1254

In [34]:
data

      Articulo  R square
0         3748  0.456503
1         3749  0.637843
2         3750  0.570373
3         3751  0.416455
4         3752  0.429121
...        ...       ...
1249     12984  0.213299
1250     12986  0.519440
1251     12996  0.594728
1252     12997  0.324088
1253     12998  0.212525

[1254 rows x 2 columns]

In [36]:
data.dtypes

Articulo      int64
R square    float64
dtype: object

In [37]:
R2_menor_50 = 0
R2_beetween_5070 = 0
R2_more_70 = 0
for row in data.itertuples():
  if row[2] > 0 and row[2] <= 0.50:
    R2_menor_50 += 1
  elif row[2] > 0.50 and row[2] <= 0.70:
    R2_beetween_5070 += 1
  else:
    R2_more_70 += 1

print("La cantidad de articulos con R2 menor a 0.50 es ",R2_menor_50)
print("La cantidad de articulos con R2 mayor a 0.50 y menor a 0.70 es ",R2_beetween_5070)
print("La cantidad de articulos con R2 mayor a 0.70 es",R2_more_70)

La cantidad de articulos con R2 menor a 0.50 es  568
La cantidad de articulos con R2 mayor a 0.50 y menor a 0.70 es  677
La cantidad de articulos con R2 mayor a 0.70 es 9

https://www.statsmodels.org/dev/example_formulas.html

Es que me arme en base al modelo, una prediccion y podria crear un array con las mismas y enchufarlo en el dataframe to predict para ver las diferencias

Puedo crear un funcion que me calcule todos los modelos y me entregue una tabla con:



1.   Todos los R2
2.   Los articulos de esos R2

Podria crear un filtro que si el R2 es mayor a 0.70 me haga las predicciones y luego las comparo con el dataframe historico.