<a href="https://colab.research.google.com/github/ivanachen1/LinearRegression/blob/main/Linear_Reggresion_AutoIndustries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
%cd /content/drive/MyDrive/Colab Notebooks/Machine Learning/

/content/drive/MyDrive/Colab Notebooks/Machine Learning

In [3]:
import LinearRegressionAux as aux

In [4]:
dataframe = aux.carga_datos()
dataframe = dataframe.dropna(axis= 0)
#dataframe

In [5]:
dataframe = aux.cambio_formatos(dataframe)
#dataframe

In [6]:
lista_anios = dataframe["anio"].unique()

In [7]:
#Analizo las ventas de cada articulo los ultimos 3 años
pivot_table = dataframe.pivot_table(dataframe,index= "product_id",columns="anio",aggfunc= {"cantidad":"sum"},fill_value=0)

In [ ]:
pivot_table.columns = pivot_table.columns.droplevel(0)
pivot_table.columns.name = None              
pivot_table = pivot_table.reset_index().rename_axis(None,axis = 1) 
pivot_table

In [9]:
today = datetime.today()
today = (today.year) - 1

In [ ]:
data_filtrada = pivot_table[pivot_table[today] == 0]
data_filtrada = pivot_table[pivot_table[today-1] == 0]
data_filtrada

In [ ]:
articulos_sin_ventas = data_filtrada["product_id"].unique()
articulos_sin_ventas

Quito del Dataframe los articulos que no se vendieron en los ultimos 2 años

In [ ]:
#filtro el dataset
dataframe = dataframe[~ dataframe["product_id"].isin(articulos_sin_ventas)]
dataframe

In [13]:
pivot_table = dataframe.pivot_table(dataframe,index= "product_id",columns = "anio",aggfunc= {"cantidad":"sum"},fill_value=0)
pivot_table.columns = pivot_table.columns.droplevel(0)
pivot_table.columns.name = None              
pivot_table = pivot_table.reset_index().rename_axis(None,axis = 1) 
pivot_table

      product_id  2018  2019  2020
0           3743     5    34    24
1           3744     1     3     2
2           3747     4    18    14
3           3748  1010  4777  3070
4           3749   264  1045   642
...          ...   ...   ...   ...
5609       13016     0     7     1
5610       13018     0     2     0
5611       13020     0     1     1
5612       13021     0     3     0
5613       13022     0     1     0

[5614 rows x 4 columns]

In [14]:
n = len(pivot_table["product_id"].unique())
lista_articulos_vendidos = []

for i in [10,20,30,40,50,60,70,80,90,100,110,200,250,500,1000,2000,3000,5000,6000,9000,4000000]:
  data = pivot_table[pivot_table[2020] > i]
  articulos = len(data["product_id"].unique())
  list_articulos = data["product_id"].unique()
  lista_articulos_vendidos.append((i,list_articulos))
  print("Los articulos que poseen mas de {} ventas son {}, representando el {}% de articulos con ventas en los ultimos años".format(i,articulos,round(articulos / n * 100,2)))

Los articulos que poseen mas de 10 ventas son 2933, representando el 52.24% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 20 ventas son 2244, representando el 39.97% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 30 ventas son 1863, representando el 33.18% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 40 ventas son 1587, representando el 28.27% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 50 ventas son 1380, representando el 24.58% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 60 ventas son 1227, representando el 21.86% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 70 ventas son 1086, representando el 19.34% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 80 ventas son 970, representando el 17.28% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 90 ventas son 871, representando el 15.51% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 100 ventas son 786, representando el 14.0% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 110 ventas son 727, representando el 12.95% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 200 ventas son 417, representando el 7.43% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 250 ventas son 337, representando el 6.0% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 500 ventas son 173, representando el 3.08% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 1000 ventas son 72, representando el 1.28% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 2000 ventas son 34, representando el 0.61% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 3000 ventas son 14, representando el 0.25% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 5000 ventas son 6, representando el 0.11% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 6000 ventas son 3, representando el 0.05% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 9000 ventas son 2, representando el 0.04% de articulos con ventas en los ultimos años
Los articulos que poseen mas de 4000000 ventas son 0, representando el 0.0% de articulos con ventas en los ultimos años

In [15]:
pivot_table = dataframe.pivot_table(dataframe,index= "product_id",columns = "anio",aggfunc= {"cantidad":"sum"},fill_value=0)
pivot_table.columns = pivot_table.columns.droplevel(0)
pivot_table.columns.name = None              
pivot_table = pivot_table.reset_index().rename_axis(None,axis = 1) 
pivot_table

      product_id  2018  2019  2020
0           3743     5    34    24
1           3744     1     3     2
2           3747     4    18    14
3           3748  1010  4777  3070
4           3749   264  1045   642
...          ...   ...   ...   ...
5609       13016     0     7     1
5610       13018     0     2     0
5611       13020     0     1     1
5612       13021     0     3     0
5613       13022     0     1     0

[5614 rows x 4 columns]

Conclusiones del analisis

1) 655 Articulos no tuvieron ventas los ultimos 2 años

2) 3891 articulos no se vendieron en los ultimos 6 meses

3) 1228 articulos tuvieron ventas en los ultimos años  y en los ultimos 6 meses

4) De estos 1228 articulos, 1056 vendieron 10 articulos en el año representando el 85,75%. 

5) En el histograma esta la participacion de la cantidad de articulos vendidos los ultimos años y meses sobre el total

nota = tomar las semanas,

In [ ]:
dataframe,lista_anios = aux.campos_datetime(dataframe)
dataframe

In [ ]:
dataframe = aux.crear_accumulative_week(dataframe,lista_anios)
dataframe

In [ ]:
# filtro semestral dataframe
#voy a obtener la lista de articulos que quiero excluir por que no se vendieron en el ultimo semestre
data = dataframe
data = data.pivot_table(data,index=["product_id","Semester"],columns=["year"],aggfunc= {"cantidad":"sum"},fill_value=0)
data.columns = data.columns.droplevel(0) 
data.columns.name = None             
data = data.reset_index().rename_axis(None,axis = 1)
data

In [ ]:
data_con_ventas_ultimo_semestre = data[data["Semester"] == 2]
data_con_ventas_ultimo_semestre = data_con_ventas_ultimo_semestre[data_con_ventas_ultimo_semestre[2020] > 20]
data_con_ventas_ultimo_semestre

In [ ]:
productos_vendidos = data_con_ventas_ultimo_semestre["product_id"].unique()
len(productos_vendidos)

Conclusion

En base a lo analizado, voy a crear modelos con los articulos que tuvieron mas de 20 ventas, desestimando a los anteriores

In [ ]:
#dataframe = dataframe.pivot_table(dataframe,index=["week2","product_id"],aggfunc= {"cantidad":"sum"},fill_value=0)
#dataframe.columns.name = None              
#dataframe = dataframe.reset_index().rename_axis(None,axis = 1) 


# tengo que meter las 52 semanas de todos los años

lista_numeros_semana = list(dataframe["acumulative_week"].unique())
lista_weeks_ordenadas = []

for i in range(1,len(lista_numeros_semana)+1,1):
  if i in lista_numeros_semana:
    continue
  else:
    lista_numeros_semana.append(i)

In [ ]:
dataframe_to_predict = aux.agregar_semanas_cantidades_cero(datafame,lista_de_articulos)

In [ ]:
dataframe_to_predict

In [ ]:
dataframe_to_predict.pivot_table(index="product_id",columns= "acumulative_week",aggfunc= {"cantidad":"sum"},fill_value=0)

Conclusiones

Despues de limpiar mucho los datos, y agruparlos por semana, tengo que comprobar si vale la pena hacer regresiones lineales de los datos ya que tengo muchos articulos que en muchas semanas no tienen ventas. Lo que se podria evaluar es el nivel de ventas por articulo por mes para analizar cuales son posibles candidatos a predecir

Voy a excluir los articulos que no se vendieron en los ultimos 6 meses

ANOTACION:

Hasta este punto tengo toda la data limpia en el dataframe_to_predict. Se saco la conclusion de que muy probablemente no sirva crear una regresion linear articulo, tienda sino que es mejor crear por articulo

In [ ]:
import statsmodels.api as sm
import numpy as np
# voy a trabajar con un solo articulo y luego lo replico a los demas

In [ ]:
data = predecir(dataframe_to_predict,lista_articulos)
data

In [ ]:
R2_menor_50 = 0
R2_beetween_5070 = 0
R2_more_70 = 0
for row in data.itertuples():
  if row[2] > 0 and row[2] <= 0.50:
    R2_menor_50 += 1
  elif row[2] > 0.50 and row[2] <= 0.70:
    R2_beetween_5070 += 1
  else:
    R2_more_70 += 1

print("La cantidad de articulos con R2 menor a 0.50 es ",R2_menor_50)
print("La cantidad de articulos con R2 mayor a 0.50 y menor a 0.70 es ",R2_beetween_5070)
print("La cantidad de articulos con R2 mayor a 0.70 es",R2_more_70)

https://www.statsmodels.org/dev/example_formulas.html

Es que me arme en base al modelo, una prediccion y podria crear un array con las mismas y enchufarlo en el dataframe to predict para ver las diferencias

Puedo crear un funcion que me calcule todos los modelos y me entregue una tabla con:



1.   Todos los R2
2.   Los articulos de esos R2

Podria crear un filtro que si el R2 es mayor a 0.70 me haga las predicciones y luego las comparo con el dataframe historico.